In [2]:
# import the needed libraries
import duckdb # for data processing adn querying (sql based)
import pandas as pd # for data manipulation
import numpy as np # for numerical operations
from matplotlib import pyplot as plt # for data visualization
import seaborn as sns # for enhanced data visualization

### Step 1. Quick overview of the Data
* Examing the data schema (Features)
* Display some values in the data

In [3]:
# Overview of the accounts data
accounts_data = pd.read_csv("../data/raw/DS_Case_Study1_data/accounts.csv")
accounts_data.head()

   account_id  customer_id account_type  status   open_date close_date
0           1            1     Checking  Active  2021-06-15        NaN
1           2            2      Savings  Active  2023-05-26        NaN
2           3            3     Checking  Active  2023-01-05        NaN
3           4            4     Checking  Active  2021-06-01        NaN
4           5            5      Savings  Active  2022-03-20        NaN

In [4]:
accounts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    4500 non-null   int64
 1   customer_id   4500 non-null   int64
 2   account_type  4500 non-null   object
 3   status        4500 non-null   object
 4   open_date     4500 non-null   object
 5   close_date    242 non-null    object
dtypes: int64(2), object(4)
memory usage: 211.1+ KB

In [5]:
# display the columns in the accounts data - verify feature names and data schema
accounts_data.columns

Index(['account_id', 'customer_id', 'account_type', 'status', 'open_date',
       'close_date'],
      dtype='object')

In [6]:
# overview of the customers data
customers_data = pd.read_csv("../data/raw/DS_Case_Study1_data/customers.csv")
customers_data.head()

   customer_id  age income_bracket region cust_creation_date  is_active
0            1   52         Medium   East         07/10/2021       True
1            2   42            Low  North         12/01/2021       True
2            3   68            Low   West         28/02/2023       True
3            4   56           High  North         26/11/2022       True
4            5   38         Medium   East         20/09/2022       True

In [7]:
customers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         2000 non-null   int64
 1   age                 2000 non-null   int64
 2   income_bracket      2000 non-null   object
 3   region              2000 non-null   object
 4   cust_creation_date  2000 non-null   object
 5   is_active           2000 non-null   bool
dtypes: bool(1), int64(2), object(3)
memory usage: 80.2+ KB

In [8]:
# display the columns in the customers data - verify feature names and data schema
customers_data.columns

Index(['customer_id', 'age', 'income_bracket', 'region', 'cust_creation_date',
       'is_active'],
      dtype='object')

In [9]:
# overview of the interactions data
interactions_data = pd.read_csv("../data/raw/DS_Case_Study1_data/interactions.csv")
interactions_data.head()

   interaction_id  customer_id interaction_date   interaction_type
0               1         1038       2025-10-15          Complaint
1               2         1636       2025-10-25  Technical Support
2               3          883       2025-09-01    Product Inquiry
3               4         1121       2025-08-22    Service Inquiry
4               5          317       2025-09-29    Product Inquiry

In [10]:
interactions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   interaction_id    8000 non-null   int64
 1   customer_id       8000 non-null   int64
 2   interaction_date  8000 non-null   object
 3   interaction_type  8000 non-null   object
dtypes: int64(2), object(2)
memory usage: 250.1+ KB

In [11]:
# display the columns in the interactions data - verify feature names and data schema
interactions_data.columns

Index(['interaction_id', 'customer_id', 'interaction_date',
       'interaction_type'],
      dtype='object')

In [12]:
# overview of the transactions data
transactions_data = pd.read_csv("../data/raw/DS_Case_Study1_data/transactions.csv")
transactions_data.head()

   transaction_id  account_id transaction_date transaction_type  amount
0               1        2895       2025-06-15            Debit   52.08
1               2         572       2024-12-29           Credit  353.66
2               3        2853       2024-10-24           Credit   74.89
3               4         827       2025-05-26            Debit    1.94
4               5        3344       2025-07-15         Transfer   76.28

In [13]:
transactions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    100000 non-null  int64
 1   account_id        100000 non-null  int64
 2   transaction_date  100000 non-null  object
 3   transaction_type  100000 non-null  object
 4   amount            100000 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.8+ MB

In [14]:
# display the columns in the transaction data - verify feature names and data schema
transactions_data.columns

Index(['transaction_id', 'account_id', 'transaction_date', 'transaction_type',
       'amount'],
      dtype='object')

### Step 2- Converting the data into duckdb tables for efficient querying and processing

In [16]:
# Create or open a DuckDB database file
con = duckdb.connect("../data/raw/bank_churn_data.db")

In [17]:
# Load the CSV data into SQL base tables

con.sql("""
    CREATE OR REPLACE TABLE customer AS 
    SELECT * FROM read_csv_auto('../data/raw/DS_Case_Study1_data/customers.csv');
""")

con.sql("""
    CREATE OR REPLACE TABLE account AS 
    SELECT * FROM read_csv_auto('../data/raw/DS_Case_Study1_data/accounts.csv');
""")

con.sql("""
    CREATE OR REPLACE TABLE transactions AS 
    SELECT * FROM read_csv_auto('../data/raw/DS_Case_Study1_data/transactions.csv');
""")

con.sql("""
    CREATE OR REPLACE TABLE interaction AS 
    SELECT * FROM read_csv_auto('../data/raw/DS_Case_Study1_data/interactions.csv');
""")

In [18]:
# show all the tables in the database - verify that the tables were created successfully
con.sql("SHOW TABLES")

┌──────────────┐
│     name     │
│   varchar    │
├──────────────┤
│ account      │
│ customer     │
│ interaction  │
│ merged_data  │
│ transactions │
└──────────────┘

The tables have been created successfully. We can begin to query and analyze the data using sql

In [19]:
# Checking the structure of the customer table - shema and data types
con.sql("DESCRIBE customer")

┌────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│    column_name     │ column_type │  null   │   key   │ default │  extra  │
│      varchar       │   varchar   │ varchar │ varchar │ varchar │ varchar │
├────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ customer_id        │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ age                │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ income_bracket     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ region             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ cust_creation_date │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ is_active          │ BOOLEAN     │ YES     │ NULL    │ NULL    │ NULL    │
└────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [20]:
# preview the first 5 rows of the customer table
con.sql("SELECT * FROM customer LIMIT 5")

┌─────────────┬───────┬────────────────┬─────────┬────────────────────┬───────────┐
│ customer_id │  age  │ income_bracket │ region  │ cust_creation_date │ is_active │
│    int64    │ int64 │    varchar     │ varchar │        date        │  boolean  │
├─────────────┼───────┼────────────────┼─────────┼────────────────────┼───────────┤
│           1 │    52 │ Medium         │ East    │ 2021-10-07         │ true      │
│           2 │    42 │ Low            │ North   │ 2021-01-12         │ true      │
│           3 │    68 │ Low            │ West    │ 2023-02-28         │ true      │
│           4 │    56 │ High           │ North   │ 2022-11-26         │ true      │
│           5 │    38 │ Medium         │ East    │ 2022-09-20         │ true      │
└─────────────┴───────┴────────────────┴─────────┴────────────────────┴───────────┘

In [21]:
# checking the accont table structure
con.sql("DESCRIBE account")

┌──────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name  │ column_type │  null   │   key   │ default │  extra  │
│   varchar    │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ account_id   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ customer_id  │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ account_type │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ status       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ open_date    │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ close_date   │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
└──────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [22]:
con.sql("SELECT * FROM account LIMIT 5")

┌────────────┬─────────────┬──────────────┬─────────┬────────────┬────────────┐
│ account_id │ customer_id │ account_type │ status  │ open_date  │ close_date │
│   int64    │    int64    │   varchar    │ varchar │    date    │    date    │
├────────────┼─────────────┼──────────────┼─────────┼────────────┼────────────┤
│          1 │           1 │ Checking     │ Active  │ 2021-06-15 │ NULL       │
│          2 │           2 │ Savings      │ Active  │ 2023-05-26 │ NULL       │
│          3 │           3 │ Checking     │ Active  │ 2023-01-05 │ NULL       │
│          4 │           4 │ Checking     │ Active  │ 2021-06-01 │ NULL       │
│          5 │           5 │ Savings      │ Active  │ 2022-03-20 │ NULL       │
└────────────┴─────────────┴──────────────┴─────────┴────────────┴────────────┘

In [23]:
# chekcing the transactions table structure
con.sql("DESCRIBE transactions")

┌──────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│   column_name    │ column_type │  null   │   key   │ default │  extra  │
│     varchar      │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ transaction_id   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ account_id       │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ transaction_date │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ transaction_type │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ amount           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
└──────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [24]:
# preview the first 5 rows of the transactions table
con.sql("SELECT * FROM transactions LIMIT 5")

┌────────────────┬────────────┬──────────────────┬──────────────────┬────────┐
│ transaction_id │ account_id │ transaction_date │ transaction_type │ amount │
│     int64      │   int64    │       date       │     varchar      │ double │
├────────────────┼────────────┼──────────────────┼──────────────────┼────────┤
│              1 │       2895 │ 2025-06-15       │ Debit            │  52.08 │
│              2 │        572 │ 2024-12-29       │ Credit           │ 353.66 │
│              3 │       2853 │ 2024-10-24       │ Credit           │  74.89 │
│              4 │        827 │ 2025-05-26       │ Debit            │   1.94 │
│              5 │       3344 │ 2025-07-15       │ Transfer         │  76.28 │
└────────────────┴────────────┴──────────────────┴──────────────────┴────────┘

In [25]:
# check the first 5 rows of the interactions table
con.sql("DESCRIBE interaction")

┌──────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│   column_name    │ column_type │  null   │   key   │ default │  extra  │
│     varchar      │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ interaction_id   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ customer_id      │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ interaction_date │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ interaction_type │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
└──────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [26]:
# preview the first 5 rows of the interactions table
con.sql("SELECT * FROM interaction LIMIT 5")

┌────────────────┬─────────────┬──────────────────┬───────────────────┐
│ interaction_id │ customer_id │ interaction_date │ interaction_type  │
│     int64      │    int64    │       date       │      varchar      │
├────────────────┼─────────────┼──────────────────┼───────────────────┤
│              1 │        1038 │ 2025-10-15       │ Complaint         │
│              2 │        1636 │ 2025-10-25       │ Technical Support │
│              3 │         883 │ 2025-09-01       │ Product Inquiry   │
│              4 │        1121 │ 2025-08-22       │ Service Inquiry   │
│              5 │         317 │ 2025-09-29       │ Product Inquiry   │
└────────────────┴─────────────┴──────────────────┴───────────────────┘

In [28]:
con.sql("SELECT * FROM merged_data LIMIT 5")

┌─────────────┬───────┬────────────────┬─────────┬─────────────────────┬───────────┬────────────┬──────────────┬────────────────┬─────────────────────┬────────────────────┬────────────────┬─────────────────────┬──────────────────┬────────────┬────────────────┬─────────────────────┬──────────────────┐
│ customer_id │  age  │ income_bracket │ region  │ cust_creation_date  │ is_active │ account_id │ account_type │ account_status │  account_open_date  │ account_close_date │ transaction_id │  transaction_date   │ transaction_type │ txn_amount │ interaction_id │  interaction_date   │ interaction_type │
│    int64    │ int64 │    varchar     │ varchar │      timestamp      │  boolean  │   int64    │   varchar    │    varchar     │      timestamp      │     timestamp      │     int64      │      timestamp      │     varchar      │   double   │     int64      │      timestamp      │     varchar      │
├─────────────┼───────┼────────────────┼─────────┼─────────────────────┼───────────┼────────────┼──────────────┼────────────────┼─────────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼────────────┼────────────────┼─────────────────────┼──────────────────┤
│        1284 │    50 │ Medium         │ North   │ 2023-10-30 00:00:00 │ true      │       2895 │ Savings      │ Active         │ 2025-05-01 00:00:00 │ NULL               │              1 │ 2025-06-15 00:00:00 │ Debit            │      52.08 │           5801 │ 2025-10-15 00:00:00 │ Product Inquiry  │
│         572 │    32 │ Medium         │ East    │ 2024-12-21 00:00:00 │ true      │        572 │ Savings      │ Active         │ 2021-08-21 00:00:00 │ NULL               │              2 │ 2024-12-29 00:00:00 │ Credit           │     353.66 │           4834 │ 2025-10-25 00:00:00 │ Service Inquiry  │
│        1879 │    55 │ Medium         │ West    │ 2021-07-06 00:00:00 │ true      │       2853 │ Savings      │ Active         │ 2025-03-26 00:00:00 │ NULL               │              3 │ 2024-10-24 00:00:00 │ Credit           │      74.89 │           7609 │ 2025-09-19 00:00:00 │ Service Inquiry  │
│         827 │    46 │ Medium         │ South   │ 2021-06-05 00:00:00 │ true      │        827 │ Checking     │ Active         │ 2022-07-09 00:00:00 │ NULL               │              4 │ 2025-05-26 00:00:00 │ Debit            │       1.94 │           5921 │ 2025-10-21 00:00:00 │ Service Inquiry  │
│         963 │    74 │ High           │ North   │ 2024-01-29 00:00:00 │ true      │       3344 │ Checking     │ Active         │ 2025-02-14 00:00:00 │ NULL               │              5 │ 2025-07-15 00:00:00 │ Transfer         │      76.28 │           5653 │ 2025-10-14 00:00:00 │ Service Inquiry  │
└─────────────┴───────┴────────────────┴─────────┴─────────────────────┴───────────┴────────────┴──────────────┴────────────────┴─────────────────────┴────────────────────┴────────────────┴─────────────────────┴──────────────────┴────────────┴────────────────┴─────────────────────┴──────────────────┘

In [29]:
# checking the number of rows in each table
con.sql("""
SELECT
    (SELECT COUNT(*) FROM customer) AS customer_rows,
    (SELECT COUNT(*) FROM account) AS account_rows,
    (SELECT COUNT(*) FROM transactions) AS transactions_rows,
    (SELECT COUNT(*) FROM interaction) AS interaction_rows,
    (SELECT COUNT(*) FROM merged_data) AS merged_data_rows
""").df()

,customer_rows,account_rows,transactions_rows,interaction_rows,merged_data_rows
0,2000,4500,100000,8000,400436

### Joining all 4 tables 
(customer, account, transactions, interaction) into a single dataset ready for analysis and feature engineering.

* The Join Logic
#### Join logic

* customer is link to account: by customer_id

* account is link to transactions: by account_id

* customer is link to interaction:by customer_id

In [52]:
print(customers_data.columns)
print(accounts_data.columns)
print(transactions_data.columns)
print(interactions_data.columns)

Index(['customer_id', 'age', 'income_bracket', 'region', 'cust_creation_date',
       'is_active'],
      dtype='object')
Index(['account_id', 'customer_id', 'account_type', 'status', 'open_date',
       'close_date'],
      dtype='object')
Index(['transaction_id', 'account_id', 'transaction_date', 'transaction_type',
       'amount'],
      dtype='object')
Index(['interaction_id', 'customer_id', 'interaction_date',
       'interaction_type'],
      dtype='object')

In [ ]:
# merge all the data into a single table for analysis and save it to a dataframe
merged_data = con.sql("""
SELECT
    c.customer_id AS customer_id,
    c.age,
    c.income_bracket,
    c.region,
    c.cust_creation_date,
    c.is_active,
    a.account_id AS account_id,
    a.account_type,
    a.status AS account_status,
    a.open_date AS account_open_date,
    a.close_date AS account_close_date,
    t.transaction_id,
    t.transaction_date,
    t.transaction_type,
    t.amount AS txn_amount,
    i.interaction_id,
    i.interaction_date,
    i.interaction_type,
FROM customer c
LEFT JOIN account a ON c.customer_id = a.customer_id
LEFT JOIN transactions t ON a.account_id = t.account_id
LEFT JOIN interaction i ON c.customer_id = i.customer_id
""").df()
merged_data.head() # preview the merged data

,customer_id,age,income_bracket,region,cust_creation_date,is_active,account_id,account_type,account_status,account_open_date,account_close_date,transaction_id,transaction_date,transaction_type,txn_amount,interaction_id,interaction_date,interaction_type
0,1284,50,Medium,North,2023-10-30,True,2895,Savings,Active,2025-05-01,NaT,1,2025-06-15,Debit,52.08,5801,2025-10-15,Product Inquiry
1,572,32,Medium,East,2024-12-21,True,572,Savings,Active,2021-08-21,NaT,2,2024-12-29,Credit,353.66,4834,2025-10-25,Service Inquiry
2,1879,55,Medium,West,2021-07-06,True,2853,Savings,Active,2025-03-26,NaT,3,2024-10-24,Credit,74.89,7609,2025-09-19,Service Inquiry
3,827,46,Medium,South,2021-06-05,True,827,Checking,Active,2022-07-09,NaT,4,2025-05-26,Debit,1.94,5921,2025-10-21,Service Inquiry
4,963,74,High,North,2024-01-29,True,3344,Checking,Active,2025-02-14,NaT,5,2025-07-15,Transfer,76.28,5653,2025-10-14,Service Inquiry

In [54]:
merged_data.columns

Index(['customer_id', 'age', 'income_bracket', 'region', 'cust_creation_date',
       'is_active', 'account_id', 'account_type', 'account_status',
       'account_open_date', 'account_close_date', 'transaction_id',
       'transaction_date', 'transaction_type', 'txn_amount', 'interaction_id',
       'interaction_date', 'interaction_type'],
      dtype='object')

In [55]:
# saving the merged data to a csv file for further analysis and feature engineering
merged_data.to_csv("../data/processed/merged_customer_data.csv", index=False)

In [64]:
# convert date columns to datetime format
date_columns = ['cust_creation_date', 'account_open_date', 'account_close_date', 'transaction_date', 'interaction_date']
for col in date_columns:
    merged_data[col] = pd.to_datetime(merged_data[col], errors='coerce')

In [65]:
merged_data.head()

,customer_id,age,income_bracket,region,cust_creation_date,is_active,account_id,account_type,account_status,account_open_date,account_close_date,transaction_id,transaction_date,transaction_type,txn_amount,interaction_id,interaction_date,interaction_type
0,1284,50,Medium,North,2023-10-30,True,2895,Savings,Active,2025-05-01,NaT,1,2025-06-15,Debit,52.08,5801,2025-10-15,Product Inquiry
1,572,32,Medium,East,2024-12-21,True,572,Savings,Active,2021-08-21,NaT,2,2024-12-29,Credit,353.66,4834,2025-10-25,Service Inquiry
2,1879,55,Medium,West,2021-07-06,True,2853,Savings,Active,2025-03-26,NaT,3,2024-10-24,Credit,74.89,7609,2025-09-19,Service Inquiry
3,827,46,Medium,South,2021-06-05,True,827,Checking,Active,2022-07-09,NaT,4,2025-05-26,Debit,1.94,5921,2025-10-21,Service Inquiry
4,963,74,High,North,2024-01-29,True,3344,Checking,Active,2025-02-14,NaT,5,2025-07-15,Transfer,76.28,5653,2025-10-14,Service Inquiry

In [66]:
merged_data.dtypes

customer_id                    int64
age                            int64
income_bracket                object
region                        object
cust_creation_date    datetime64[us]
is_active                       bool
account_id                     int64
account_type                  object
account_status                object
account_open_date     datetime64[us]
account_close_date    datetime64[us]
transaction_id                 Int64
transaction_date      datetime64[us]
transaction_type              object
txn_amount                   float64
interaction_id                 Int64
interaction_date      datetime64[us]
interaction_type              object
dtype: object

In [ ]:
# Save merged_data DataFrame as sql table
con.register('merged_temp', merged_data) 

# Create a permanent table in bank_churn_data.db
con.sql("""
    CREATE OR REPLACE TABLE merged_data AS
    SELECT * FROM merged_temp
""")

In [ ]:
con.sql("SHOW TABLES").df() # preview the tables in the database

           name
0       account
1      customer
2   interaction
3   merged_data
4   merged_temp
5  transactions

In [59]:
con.sql("SELECT * FROM merged_data LIMIT 5") # preview the merged data table

┌─────────────┬───────┬────────────────┬─────────┬─────────────────────┬───────────┬────────────┬──────────────┬────────────────┬─────────────────────┬────────────────────┬────────────────┬─────────────────────┬──────────────────┬────────────┬────────────────┬─────────────────────┬──────────────────┐
│ customer_id │  age  │ income_bracket │ region  │ cust_creation_date  │ is_active │ account_id │ account_type │ account_status │  account_open_date  │ account_close_date │ transaction_id │  transaction_date   │ transaction_type │ txn_amount │ interaction_id │  interaction_date   │ interaction_type │
│    int64    │ int64 │    varchar     │ varchar │      timestamp      │  boolean  │   int64    │   varchar    │    varchar     │      timestamp      │     timestamp      │     int64      │      timestamp      │     varchar      │   double   │     int64      │      timestamp      │     varchar      │
├─────────────┼───────┼────────────────┼─────────┼─────────────────────┼───────────┼────────────┼──────────────┼────────────────┼─────────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼────────────┼────────────────┼─────────────────────┼──────────────────┤
│        1284 │    50 │ Medium         │ North   │ 2023-10-30 00:00:00 │ true      │       2895 │ Savings      │ Active         │ 2025-05-01 00:00:00 │ NULL               │              1 │ 2025-06-15 00:00:00 │ Debit            │      52.08 │           5801 │ 2025-10-15 00:00:00 │ Product Inquiry  │
│         572 │    32 │ Medium         │ East    │ 2024-12-21 00:00:00 │ true      │        572 │ Savings      │ Active         │ 2021-08-21 00:00:00 │ NULL               │              2 │ 2024-12-29 00:00:00 │ Credit           │     353.66 │           4834 │ 2025-10-25 00:00:00 │ Service Inquiry  │
│        1879 │    55 │ Medium         │ West    │ 2021-07-06 00:00:00 │ true      │       2853 │ Savings      │ Active         │ 2025-03-26 00:00:00 │ NULL               │              3 │ 2024-10-24 00:00:00 │ Credit           │      74.89 │           7609 │ 2025-09-19 00:00:00 │ Service Inquiry  │
│         827 │    46 │ Medium         │ South   │ 2021-06-05 00:00:00 │ true      │        827 │ Checking     │ Active         │ 2022-07-09 00:00:00 │ NULL               │              4 │ 2025-05-26 00:00:00 │ Debit            │       1.94 │           5921 │ 2025-10-21 00:00:00 │ Service Inquiry  │
│         963 │    74 │ High           │ North   │ 2024-01-29 00:00:00 │ true      │       3344 │ Checking     │ Active         │ 2025-02-14 00:00:00 │ NULL               │              5 │ 2025-07-15 00:00:00 │ Transfer         │      76.28 │           5653 │ 2025-10-14 00:00:00 │ Service Inquiry  │
└─────────────┴───────┴────────────────┴─────────┴─────────────────────┴───────────┴────────────┴──────────────┴────────────────┴─────────────────────┴────────────────────┴────────────────┴─────────────────────┴──────────────────┴────────────┴────────────────┴─────────────────────┴──────────────────┘

In [ ]:
merged_data = con.sql("SELECT * FROM merged_data").df() # turning  the merged_data sql table into a dataframe

### We are done with the data Schema - Let's proceed to Task
#### Part A:
* Define the target variable
* feature engineering

In [32]:
merged_data.isnull().sum() # check for missing values in the merged data

customer_id                0
age                        0
income_bracket             0
region                     0
cust_creation_date         0
is_active                  0
account_id                 0
account_type               0
account_status             0
account_open_date          0
account_close_date    399471
transaction_id           965
transaction_date         965
transaction_type         965
txn_amount               965
interaction_id          1791
interaction_date        1791
interaction_type        1791
dtype: int64

In [33]:
merged_data.shape

(400436, 18)

In [34]:
# Find the latest date in each column
date_columns = ['cust_creation_date', 'account_open_date', 'account_close_date', 'transaction_date', 'interaction_date']
for col in date_columns:
    print(f"Last date in {col}: {merged_data[col].max()}")

Last date in cust_creation_date: 2025-10-26 00:00:00
Last date in account_open_date: 2025-10-26 00:00:00
Last date in account_close_date: 2025-10-27 00:00:00
Last date in transaction_date: 2025-10-27 00:00:00
Last date in interaction_date: 2025-10-28 00:00:00

The Most recent customer interaction date is 28th of October 2025

* Last date in cust_creation_date: 2025-10-26 00:00:00
* Last date in account_open_date: 2025-10-26 00:00:00
* Last date in account_close_date: 2025-10-27 00:00:00
* Last date in transaction_date: 2025-10-27 00:00:00
* Last date in interaction_date: 2025-10-28 00:00:00

### Descriptive statistic for the merged_data

In [35]:
merged_data.describe().T

,count,mean,min,25%,50%,75%,max,std
customer_id,400436.0,991.420899,1.0,496.0,981.0,1482.0,2000.0,571.625057
age,400436.0,45.175366,18.0,35.0,45.0,55.0,80.0,14.17444
cust_creation_date,400436,2023-05-05 03:41:34.133395,2020-10-28 00:00:00,2022-01-23 00:00:00,2023-05-01 00:00:00,2024-08-03 00:00:00,2025-10-26 00:00:00,NaN
account_id,400436.0,2250.455561,1.0,1107.0,2247.0,3400.0,4500.0,1307.407519
account_open_date,400436,2023-06-21 17:07:41.269216,2020-10-28 00:00:00,2022-07-07 00:00:00,2023-06-21 00:00:00,2024-07-15 00:00:00,2025-10-26 00:00:00,NaN
account_close_date,965,2024-07-18 21:23:18.963730,2021-01-29 00:00:00,2023-10-17 00:00:00,2024-10-23 00:00:00,2025-06-09 00:00:00,2025-10-27 00:00:00,NaN
transaction_id,399471.0,50031.359258,1.0,25046.0,49950.0,75089.5,100000.0,28885.120523
transaction_date,399471,2025-04-11 05:21:58.668940,2023-10-29 00:00:00,2025-02-01 00:00:00,2025-05-13 00:00:00,2025-07-24 00:00:00,2025-10-27 00:00:00,NaN
txn_amount,399471.0,54.78905,0.15,12.43,27.05,58.08,10000.0,124.664673
interaction_id,398645.0,4009.748009,1.0,2006.0,4029.0,6018.0,8000.0,2309.590257
interaction_date,398645,2025-08-30 00:39:21.318968,2024-10-28 00:00:00,2025-08-07 00:00:00,2025-09-17 00:00:00,2025-10-11 00:00:00,2025-10-28 00:00:00,NaN

In [36]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400436 entries, 0 to 400435
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         400436 non-null  int64
 1   age                 400436 non-null  int64
 2   income_bracket      400436 non-null  object
 3   region              400436 non-null  object
 4   cust_creation_date  400436 non-null  datetime64[us]
 5   is_active           400436 non-null  bool
 6   account_id          400436 non-null  int64
 7   account_type        400436 non-null  object
 8   account_status      400436 non-null  object
 9   account_open_date   400436 non-null  datetime64[us]
 10  account_close_date  965 non-null     datetime64[us]
 11  transaction_id      399471 non-null  Int64
 12  transaction_date    399471 non-null  datetime64[us]
 13  transaction_type    399471 non-null  object
 14  txn_amount          399471 non-null  float64
 15  interaction_id      398645 non-null  Int64
 16  interaction_date    398645 non-null  datetime64[us]
 17  interaction_type    398645 non-null  object
dtypes: Int64(2), bool(1), datetime64[us](5), float64(1), int64(3), object(6)
memory usage: 53.1+ MB

In [83]:
merged_data.isnull().sum()

customer_id                0
age                        0
income_bracket             0
region                     0
cust_creation_date         0
is_active                  0
account_id                 0
account_type               0
account_status             0
account_open_date          0
account_close_date    399471
transaction_id           965
transaction_date         965
transaction_type         965
txn_amount               965
interaction_id          1791
interaction_date        1791
interaction_type        1791
dtype: int64

In [ ]:

df = con.sql("""
WITH merged AS (
    SELECT
        c.customer_id,
        c.age,
        c.income_bracket,
        c.region,
        c.cust_creation_date,
        c.is_active,
        a.account_id,
        a.account_type,
        a.status AS account_status,
        a.open_date AS account_open_date,
        a.close_date AS account_close_date,
        t.transaction_id,
        t.transaction_date,
        t.transaction_type,
        t.amount AS txn_amount,
        i.interaction_id,
        i.interaction_date,
        i.interaction_type
    FROM customer c
    LEFT JOIN account a ON c.customer_id = a.customer_id
    LEFT JOIN transactions t ON a.account_id = t.account_id
    LEFT JOIN interaction i ON c.customer_id = i.customer_id
),

account_summary AS (
    SELECT
        customer_id,
        -- count how many accounts still open
        SUM(CASE WHEN account_close_date IS NULL THEN 1 ELSE 0 END) AS open_account_count,
        -- most recent closed account
        MAX(account_close_date) AS last_close_date
    FROM merged
    GROUP BY customer_id
)

SELECT 
    m.*,
    CASE 
        WHEN s.open_account_count = 0
             AND s.last_close_date BETWEEN DATE '2025-04-28' AND DATE '2025-10-28'
        THEN 1
        ELSE 0
    END AS has_churn
FROM merged m
LEFT JOIN account_summary s
    ON m.customer_id = s.customer_id
""").df()


df['has_churn'].value_counts()

AttributeError: 'function' object has no attribute 'value_counts'

In [78]:
# filter out the rows where has_churn is 1
churned_customers = df[df['has_churn'] == 1]
churned_customers.head(12)

,customer_id,age,income_bracket,region,cust_creation_date,is_active,account_id,account_type,account_status,account_open_date,account_close_date,transaction_id,transaction_date,transaction_type,txn_amount,interaction_id,interaction_date,interaction_type,has_churn
399511,1983,28,Medium,South,2024-03-03,True,1983,Checking,Closed,2022-04-23,2023-10-09,<NA>,NaT,None,NaN,6582,2025-10-23,Product Inquiry,1
399571,1983,28,Medium,South,2024-03-03,True,1983,Checking,Closed,2022-04-23,2023-10-09,<NA>,NaT,None,NaN,5714,2025-09-13,Service Inquiry,1
399621,1983,28,Medium,South,2024-03-03,True,1983,Checking,Closed,2022-04-23,2023-10-09,<NA>,NaT,None,NaN,4799,2025-10-22,Product Inquiry,1
399665,1983,28,Medium,South,2024-03-03,True,1983,Checking,Closed,2022-04-23,2023-10-09,<NA>,NaT,None,NaN,2611,2025-10-12,Technical Support,1
399923,1565,33,Medium,West,2023-12-13,True,1565,Checking,Closed,2023-07-22,2025-10-15,<NA>,NaT,None,NaN,5391,2025-08-15,Service Inquiry,1
399993,1565,33,Medium,West,2023-12-13,True,1565,Checking,Closed,2023-07-22,2025-10-15,<NA>,NaT,None,NaN,1418,2025-09-20,Service Inquiry,1
400224,1464,33,Medium,South,2025-02-18,True,1464,Savings,Closed,2021-07-09,2025-05-05,<NA>,NaT,None,NaN,5693,2025-10-11,Service Inquiry,1
400249,1983,28,Medium,South,2024-03-03,True,3965,Savings,Closed,2024-12-16,2025-09-12,<NA>,NaT,None,NaN,6582,2025-10-23,Product Inquiry,1
400279,1464,33,Medium,South,2025-02-18,True,1464,Savings,Closed,2021-07-09,2025-05-05,<NA>,NaT,None,NaN,2883,2025-08-31,Product Inquiry,1
400302,1983,28,Medium,South,2024-03-03,True,3965,Savings,Closed,2024-12-16,2025-09-12,<NA>,NaT,None,NaN,5714,2025-09-13,Service Inquiry,1
400348,1983,28,Medium,South,2024-03-03,True,3965,Savings,Closed,2024-12-16,2025-09-12,<NA>,NaT,None,NaN,4799,2025-10-22,Product Inquiry,1
400383,1983,28,Medium,South,2024-03-03,True,3965,Savings,Closed,2024-12-16,2025-09-12,<NA>,NaT,None,NaN,2611,2025-10-12,Technical Support,1

In [79]:
df.columns

Index(['customer_id', 'age', 'income_bracket', 'region', 'cust_creation_date',
       'is_active', 'account_id', 'account_type', 'account_status',
       'account_open_date', 'account_close_date', 'transaction_id',
       'transaction_date', 'transaction_type', 'txn_amount', 'interaction_id',
       'interaction_date', 'interaction_type', 'has_churn'],
      dtype='object')

In [76]:
df.head()

,customer_id,age,income_bracket,region,cust_creation_date,is_active,account_id,account_type,account_status,account_open_date,account_close_date,transaction_id,transaction_date,transaction_type,txn_amount,interaction_id,interaction_date,interaction_type,has_churn
0,1407,18,Medium,East,2022-11-21,True,1407,Savings,Active,2023-02-15,NaT,45,2025-04-11,Credit,5.12,6367,2025-10-14,Complaint,0
1,1569,32,Medium,West,2023-03-21,True,1569,Checking,Active,2020-11-26,NaT,46,2025-07-14,Credit,41.46,6458,2025-06-24,Product Inquiry,0
2,1436,32,Medium,South,2025-01-09,True,1436,Checking,Active,2022-12-21,NaT,47,2024-09-29,Debit,24.72,7107,2025-08-01,Product Inquiry,0
3,722,34,High,West,2023-10-25,True,3786,Gold Checking,Active,2024-01-10,NaT,48,2025-09-04,Debit,42.30,3457,2025-09-03,Service Inquiry,0
4,380,55,Low,North,2024-04-11,True,380,Checking,Active,2022-12-18,NaT,49,2025-06-21,Debit,56.67,557,2025-08-16,Service Inquiry,0

,customer_id,age,income_bracket,region,is_active,num_accounts,num_open_accounts,num_closed_accounts,days_since_last_account_open,days_since_last_account_close,account_tenure_days,txn_count_6m,txn_total_amount_6m,txn_avg_amount_6m,days_since_last_txn,num_txn_types,interaction_count_6m,days_since_last_interaction,num_interaction_types,has_churn
0,168,65,Low,North,True,4,360.0,0.0,208,<NA>,1556,192,7720.76,40.212292,24,4,360,9,2,0
1,176,55,Low,North,True,3,240.0,0.0,284,<NA>,1769,138,7078.95,51.296739,5,4,240,9,2,0
2,1620,42,High,South,True,3,420.0,0.0,801,<NA>,1063,216,12182.28,56.399444,18,4,420,12,4,0
3,811,54,Medium,West,True,5,357.0,0.0,182,<NA>,905,213,10817.01,50.784085,9,4,357,18,3,0
4,453,69,Medium,South,True,1,216.0,0.0,915,<NA>,915,150,7416.96,49.446400,48,4,180,11,2,0